//Dolar Colors
$color-primary-0: #73985E; // Main Primary color */#73985E
$color-primary-1: #C6DCB9;
$color-primary-2: #97B685;
$color-primary-3: #557940;
$color-primary-4: #3C6424;
$color-primary-5: #1F4807;
//Gray Colors
$color-primary-6: #f4f4f4;
$color-primary-7: #646464;
//fonts
$font_0: FontAwesome;
//Filter

$color-1: #331d35; // Bleached Cedar
$color-2: #41307c; // Minsk
$color-3: #ffffff; // White
$color-4: #9a9a9a; // Grey

// fonts
$primary-font: 'Lato', sans-serif;
//icons url
$url_date: image-url('ic_date_range_black_24px.svg');


